# Dependencies
node_modules/

# Build
dist/
build/

# Env files — NE JAMAIS committer
.env
.env.local
.env.development
.env.production
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
